.contain {
  height: 100%;
}

.parentsDiv {
  border-bottom: 1px solid #e9e7e5;
  height: 10%;
  width: 100%;
  padding: 20px;
  text-align: center;
}

.parentsDiv p {
  font-weight: 600;
  font-size: 16px;
}

.list {
  height: 90%;
}

.image-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px 10px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.button-contain {
  margin-top: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 7px;
}

.image {
  height: 70px;
  width: 70px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
}
