.imgFile {
  height: 10vh;
  width: auto;
}

.item {
  position: relative;
}

.link {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  opacity: 0;
  transition: 0.3s;
}

.item:hover .link {
  opacity: 0.6;
}

.nothing {
  width: 100%;
  text-align: center;
  padding: 20px;
  color: #adb5bd;
  font-weight: 500;
  font-size: 14px;
}
