.contain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  border-left: 1px solid #e6e6e6;
  gap: 20px;
}

.title {
  font-family: sans-serif;
  font-size: 30px;
}

.subtitle {
  text-align: center;
  font-family: sans-serif;
  font-size: 16px;
}

.logo {
  width: 160px;
  height: auto;
}
